<div class="w-[300px]">
    <!-- first step -->
     <button hlmBtn>
        Go Back</button>
    <h3 class="text-2xl mb-3 font-medium text-gray-600">Create Account</h3>
    <div class="grid grid-cols-2 gap-3 mb-3">
        <div class="p-1 bg-[#0069D1] rounded-full"></div>
        <div class="p-1 bg-[#CFD0D4] rounded-full"></div>
    </div>
    <!-- <label hlmLabel class="text-[#0069D1]">Enter Email ID
        <input type="email" class="bg-[#E4ECEE] border-0 rounded-[16px] w-full placeholder:text-[#767676]" hlmInput
            placeholder="Enter Email ID" />
    </label>

    <h5 class="text-gray-400 my-5">(OR)</h5>

    <label hlmLabel class="text-[#0069D1] mb-4">Enter Mobile No.
        <input type="number" class="bg-[#E4ECEE] border-0 rounded-[16px] w-full placeholder:text-[#767676]" hlmInput
            placeholder="91+" />
    </label> -->

    <!-- second step -->
    <div class="mb-3">
        <label hlmLabel class="text-[#0069D1]">Organisation-name
            <input class="bg-[#E4ECEE] border-0 rounded-[16px] w-full placeholder:text-[#767676]" hlmInput
                placeholder="Organisation name" />
        </label>
    </div>
    <div class="mb-3">
    <label hlmLabel class="text-[#0069D1]">Organisation-id
        <input class="bg-[#E4ECEE] mb-3 border-0 rounded-[16px] w-full placeholder:text-[#767676]" hlmInput
            placeholder="Organisation id" />
    </label>
    </div>
    <div class="mb-3">
    <label hlmLabel class="text-[#0069D1]">Designation
        <input class="bg-[#E4ECEE] border-0 rounded-[16px] w-full placeholder:text-[#767676]" hlmInput
            placeholder="Designation" />
    </label>
    </div>
    <div class="mb-3">
    <label hlmLabel class="text-[#0069D1]">Birth-date
        <input type="date" class="bg-[#E4ECEE] text-[#767676] border-0 rounded-[16px] w-full placeholder:text-[#767676]" hlmInput
            placeholder="Enter Email ID" />
    </label>
    </div>
    <div class="grid grid-cols-2 gap-4">
        <div class="">
            <label hlmLabel class="text-[#0069D1]">City
                <input type="email" class="bg-[#E4ECEE] border-0 rounded-[16px] w-full placeholder:text-[#767676]"
                    hlmInput placeholder="Enter Email ID" />
            </label>
        </div>
        <div class="">
            <label hlmLabel class="text-[#0069D1]">Pincode
                <input type="email" class="bg-[#E4ECEE] border-0 rounded-[16px] w-full placeholder:text-[#767676]"
                    hlmInput placeholder="Enter Email ID" />
            </label>
        </div>
    </div>
    <button hlmBtn class="w-full rounded-[16px] mt-4 bg-[#0069D1]">Next</button>
</div>

