<div 
style="background-image: url(assets/Login.svg); background-size: 150%; background-position-x: -10px; background-position-y: -10px;"
    class="w-screen h-screen bg-no-repeat flex items-center justify-center ">
    <div class="flex rounded-xl bg-white h-[600px] m-auto w-[1051px] overflow-hidden">
        <img class="w-[442px] object-cover" src="assets/login_img.svg" />
        <div class="flex flex-col justify-center px-16">
            <router-outlet></router-outlet>
        </div>
        </div>
</div>